.main-page{
    width: 100%;
    border: 2px solid rgb(237, 125, 125);
    display: flex;
}
.width20{
    width: 20%;
    border: 1px solid rgb(243, 95, 95);
}

.width70{
    width: 70%;
    margin-left: 10%;
    border: 1px solid rgb(243, 95, 95);
}